<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
            <form [formGroup]="formulario" (ngSubmit)="publicar()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="criacaoModal">Criar uma publicação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetarModal()"></button>
                </div>
                <div class="modal-body">
                    <input type="file" class="form-control mb-3" accept="image/*"
                        (change)="preparaImagemUpload($event)">
                    <input type="text" placeholder="Título da publicação" class="form-control" formControlName="titulo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </div>
            </form>
        </div>

        <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="progressoModal">Publicação em andamento</h1>
            </div>
            <div class="modal-body">
                <div class="progress" role="progressbar" aria-label="Example with label" [attr.aria-valuenow]="porcentagemUpload" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" [style.width.%]="porcentagemUpload">{{porcentagemUpload}}%</div>
                </div>
            </div>
        </div>

        <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="conclusaoModal">Publicação realizada com sucesso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetarModal()"></button>
            </div>
            <div class="modal-body">
                Sua publicação foi realizada com sucesso!
            </div>
        </div>
    </div>
</div>